@import "base";
@import "colors";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  background: url("../images/bg-mobile.png") no-repeat center center / cover;
  color: $pale-blue;

  .boxes {
    padding: 0 25px;
    width: 100%;
  }

  .first,
  .second {
    background-color: $dark-blue;
    padding: 40px;
  }

  .first {
    border-radius: 10px 100px 10px 10px;

    .icons {
      display: flex;
      justify-content: flex-start;

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
        min-width: 40px;
        margin: 30px 15px 0 0;
        border-radius: 10px;
        background-color: $very-dark-blue;
      }
    }
  }

  .second {
    margin-top: 15px;
    border-radius: 10px;
    position: relative;

    .used {
      text-align: center;
      margin-bottom: 15px;
      span {
        font-weight: 700;
      }
    }

    .usage-bar-back {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 20px;
      width: 100%;
      margin-bottom: 10px;
      border-radius: 100px;
      background-color: darken($color: $dark-blue, $amount: 7);

      .usage-bar-used {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 81.5%;
        height: 14px;
        margin-left: 3px;
        background-image: $primary;
        border-radius: 100px;

        .usage-bar-marker {
          height: 12px;
          width: 12px;
          background-color: #fff;
          border-radius: 50%;
          margin-right: 2px;
        }
      }
    }

    .usage-scale {
      font-weight: 700;
      font-size: 12px;
      display: flex;
      justify-content: space-between;
      padding-bottom: 5px;
    }

    .notice {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      width: 156px;
      position: absolute;
      bottom: -30px;
      left: calc(50% - 78px);
      background-color: #fff;
      border-radius: 10px;

      span {
        display: flex;
        align-items: center;
        color: $grayish-blue;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 1px;

        .heavy {
          color: $very-dark-blue;
          font-size: 32px;
          margin-right: 7px;
          letter-spacing: 0;
        }
      }
    }
  }
}

.attribution {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  text-align: center;
  height: 5vh;
  background-color: lighten($color: $dark-blue, $amount: 10);
  color: darken($color: $very-dark-blue, $amount: 30);

  a {
    color: hsl(228, 45%, 55%);
  }
}

// Landscape phones
@media screen and (max-width: 850px) and (orientation: landscape) {
  .container {
    height: auto;

    .boxes {
      padding: 100px 0;
    }
  }
}

//Tablets
@media screen and (min-width: 568px) {
  .boxes {
    max-width: 60vw;
  }

  .attribution {
    height: 50px;
    display: flex;
    align-items: center;
    // margin: auto;
  }
}

// Landscape Tablets
@media screen and (min-width: 850px) {
  .container {
    height: calc(100vh - 50px);
  }
}

// Desktop
@media screen and (min-width: 1200px) {
  .container {
    background: url("../images/bg-desktop.png") no-repeat center top 50vh /
      100vw 50vh;
    background-color: $very-dark-blue;

    .boxes {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      max-width: 70vw;

      .first {
        width: 35%;
      }

      .second {
        width: 62%;
        height: 155px;

        .usage .used {
          text-align: left;
        }
      }

      .notice {
        position: absolute;
        top: -40px;
        right: 40px;
        left: auto;
        border-bottom-right-radius: 0;

        &::after {
          content: "";
          position: absolute;
          right: 0;
          bottom: -20px;
          height: 0;
          width: 0;
          border-top: 10px solid #fff;
          border-right: 10px solid #fff;
          border-bottom: 10px solid transparent;
          border-left: 10px solid transparent;
        }
      }
    }
  }
}
